<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/reg.css}">
</head>
<body>

<div th:replace="fragments/navbar :: navbar('registration')"></div>

<form th:method="post" th:action="@{/auth/registration}" th:object="${user}">
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">

            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Section2" aria-controls="profile" role="tab" data-toggle="tab">sign up</a></li>
                </ul>
                <!-- Tab panes -->
                    <div role="tabpanel" class="tab-pane fade in active" id="Section2">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" th:field="*{firstName}" id="firstName">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" th:field="*{lastName}" id="lastName">
                            </div>
                            <div class="form-group">
                                <label for="country">Country</label>
                                <select class="form-control js-example-basic-single" th:field="*{country}" id="country">
                                    <option value=""></option>
                                    <option value="AUSTRIA">AUSTRIA</option>
                                    <option value="BELGIUM">BELGIUM</option>
                                    <option value="BULGARIA">BULGARIA</option>
                                    <option value="CROATIA">CROATIA</option>
                                    <option value="CYPRUS">CYPRUS</option>
                                    <option value="CZECH">CZECH</option>
                                    <option value="DENMARK">DENMARK</option>
                                    <option value="ESTONIA">ESTONIA</option>
                                    <option value="FINLAND">FINLAND</option>
                                    <option value="FRANCE">FRANCE</option>
                                    <option value="GERMANY">GERMANY</option>
                                    <option value="GREECE">GREECE</option>
                                    <option value="HUNGARY">HUNGARY</option>
                                    <option value="IRELAND">IRELAND</option>
                                    <option value="ITALY">ITALY</option>
                                    <option value="LATVIA">LATVIA</option>
                                    <option value="LITHUANIA">LITHUANIA</option>
                                    <option value="LUXEMBOURG">LUXEMBOURG</option>
                                    <option value="MALTA">MALTA</option>
                                    <option value="NETHERLANDS">NETHERLANDS</option>
                                    <option value="POLAND">POLAND</option>
                                    <option value="PORTUGAL">PORTUGAL</option>
                                    <option value="ROMANIA">ROMANIA</option>
                                    <option value="SLOVAKIA">SLOVAKIA</option>
                                    <option value="SLOVENIA">SLOVENIA</option>
                                    <option value="SPAIN">SPAIN</option>
                                    <option value="SWEDEN">SWEDEN</option>
                                </select>
                                </input>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone-number</label>
                                <input type="number" class="form-control" th:field="*{phoneNumber}" id="phoneNumber">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" th:field="*{email}" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" th:field="*{password}" id="password">
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Sign up</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div><!-- /.col-md-offset-3 col-md-6 -->
    </div><!-- /.row -->
</div><!-- /.container -->
</form>

<div th:replace="fragments/footer :: footer"></div>

<script>
$(document).ready(function() {
  $('.js-example-basic-single').select2();
});
</script>

</body>
</html>