<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div th:replace="fragments/navbar :: navbar('admin')"></div>

<br><br><br><br><br><br>
<div class="container">
    <div class="row justify-content-center text-center mb-5 pb-3">
        <h1>Hello Admin!</h1>
    </div>
    <div class="row justify-content-center text-center mb-5 pb-3">
        <a th:href="@{/admin/userList}">Users List</a>
    </div>
    <div class="row justify-content-center text-center mb-5 pb-3">
        <a th:href="@{/admin/accountList}">Account List</a>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>
</html>