<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="navbar(page)">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/}">My<i class="fa fa-diamond"></i>Bank</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li th:classappend="${page == 'login'} ? 'active'">
                    <a th:href="@{/auth/login}">Sign in</a>
                </li>
                <li th:classappend="${page == 'registration'} ? 'active'">
                    <a th:href="@{/auth/registration}">Sign up</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:classappend="${page == 'home'} ? 'active'"><a th:href="@{/}">Home</a></li>
                <li th:classappend="${page == 'about'} ? 'active'"><a th:href="@{/about}">About project</a> </li>
                <li th:classappend="${page == 'technology'} ? 'active'"><a th:href="@{/technology}">Technology</a> </li>
                <li th:classappend="${page == 'contact'} ? 'active'"><a th:href="@{/contact}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</div>